<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2DFigures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>3DFigures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Box.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Cone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GLSC3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Marker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Sample_g_font.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Sample_g_move_g_plot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Sample_g_polygon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Sample_g_polyline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Sample_g_rectangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Sample_g_sphere.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Sample_g_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Sample_off_screen_rendering.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F198F681E3F36850062613D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F198F731E3F375C0062613D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F198F871E3F4BC10062613D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F198F971E3F4D210062613D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1A326D1E6F52640016811C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573891E420B42009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573981E420C8B009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573A91E420D60009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573B61E420D8A009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573C41E420E15009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573D01E420E25009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7573DE1E421164009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F7574151E4233E7009E14BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9884C71E3E1BCC0031E4BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9884D21E3E1BE80031E4BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
